$primaryColor: #fbaf5d;
$primaryColorDarken: darken($primaryColor,5%);
$font-size: 62.5%;

$headerHeight: 52px;
$footerHeight: 52px;

$userSubmitButtonColor: #00bff3;
$userSubmitButtonColorDarken: darken($userSubmitButtonColor, 5%);

$forgotPasswordColor: #8781bd;

$forgotPasswordColorDarken: darken($forgotPasswordColor, 5%);