@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.fa{
  color: #727272;
}